  <% include partials/header%>
  <body>
    <div class="container-fluid">
        <div class="row">
          <!--FORMULARIO-->
          <div class="col-xl-3 col-sm-5 options-sidebar">
            <h1>Wardrobe</h1>
            <form action="/add" method="post">
              <div id="hiddenInputs"></div>
              <div class="form-group">
                <h2>Ingresá los datos</h2>
                <!-- Nombre -->
                <input class="form-control" name="nombre" type="text" placeholder="Nombre del la tienda">
                <!-- Webs -->
                <div id="inputWebBox">
                  <div class="input-group">
                    <input id="webInput" name="webs" type="text" class="form-control" placeholder="Sitios web de la tienda" aria-label="" aria-describedby="basic-addon1">
                    <div class="input-group-append">
                      <a href="#!" id="addWeb" class="btn btn-success">+</a>
                    </div>
                  </div>
                </div>
                <!-- Tags -->
                  <div class="input-group">
                    <input id="tagInput" name="tags" type="text" class="form-control" placeholder="Tags" aria-label="" aria-describedby="basic-addon1">
                    <div class="input-group-append">
                      <a href="#!" id="addTag" class="btn btn-success">+</a>
                    </div>
                  </div>
                <!-- Reputacion -->
                <select class="form-control" name="reputacion" id="reputacion">        
                  <option value="Baja">Baja</option>
                  <option value="Media">Media</option>
                  <option value="Alta">Alta</option>
                </select>
              </div>
              <button class="btn btn-primary btn-block">Añadir</button>
            </form>
          </div>
          <!-- TARJETAS -->
          <div class="col-xl-9 col-sm-7 views-sidebar">
            <!-- Creando tarjetas -->
            <% for(let i = 0; i < tiendas.length;i++){ %>
              <div class="card mt-3">
                <div class="card-header">
                  <h3 class="name-shop"><%= tiendas[i].nombre %></h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-10">
                      <!-- Reputacion -->
                      <h4 class="card-title">Reputación: <%= tiendas[i].reputacion %></h4>
                      <!-- Sitios Web -->
                      <h5>Sitios web:</h5>
                      <%tiendas[i].webs.forEach((web,index)=>{ %>
                        <% if(index == 0 && web == ""){ %>
                          <span class="badge badge-primary">Sin Webs registradas</span>
                        <% }else{ %>
                          <a class="d-block" target="_blank" href="<%=web%>"><%= web %></a>
                        <% } %>    
                      <% }) %>
                      <!-- Tags -->
                      <div class="mt-3">
                        <h5 class="d-inline-block">Tags:</h5>
                        <%tiendas[i].tags.forEach((tag,index)=>{ %>
                          <% if(index == 0 && tag==""){ %>
                            <span class="badge badge-primary">Sin tags registrados</span>
                          <% }else{ %>
                            <span class="badge badge-success"><%= tag %></span>
                          <% } %>
                        <% }) %>
                      </div>
                    </div>
                    <div class="col-2 button-container">
                      <!-- Borrar -->
                      <div class="d-flex flex-column align-items-start">
                        <a href="/delete/<%= tiendas[i]._id %>" class="btn btn-danger"><i class="fas fa-times"></i></a>
                      </div>
                      <!-- Editar -->
                      <div class="d-flex flex-column align-items-end">
                          <a href="/edit/<%= tiendas[i]._id%>" class="btn btn-primary"><i class="far fa-edit"></i></a> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>
          </div>
      </div>
  </div>
    <script src="script/app.js"></script>
  </body>
</html>

